
        <div class="form">
            <form>
                <div class="d">
                    <h1 class="heading-form">Update the details</h1>
        <div class="form-group">
            <label class="field-label">Name</label>
            <br>
            <input type="text" class="form-control f" name="name" [(ngModel)]="user.name">
        </div>
        <div class="form-group">
            <label class="field-label">Email</label>
            <br>
            <input type="text" class="form-control f" name="email" [(ngModel)]="user.email">
        </div>
        <div class="form-group">
            <label class="field-label">Batch</label>
            <br>
            <input type="text" class="form-control f" name="batch" [(ngModel)]="user.batch">
        </div>
        <div class="form-group">
            <label class="field-label">Branch</label>
            <br>
            <input type="text" class="form-control f" name="branch" [(ngModel)]="user.branch">
        </div>
        <div class="form-group">
            <label class="field-label">Contact</label>
            <br>
            <input type="text" class="form-control f" name="contact" [(ngModel)]="user.contact">
        </div>

        <button type="button" class="button-form" (click)="update()">Update</button>
            <button type="button" class="button-form" (click)="view()">View Data</button>
                </div>  
        </form>
            </div>